/* css/main.css */
body {
  font-size: 16px;
}
/*3 завдання*/
div {
  font-size: 1em;
}

span  {
  font-size: 1.6em;
}
/*4 завдання*/
strong {
  font-size: 1.6em;
}
/*5 завдання*/
ul {
  list-style: square;
}
